<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Video Request</h1>
    <form action="" method="POST">
      <div>
        <label for="request">Request</label>
        <textarea name="request" id="request" cols="30" rows="10"></textarea>
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
